[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
botocore = "*"
pyyaml = "> 4.1"

[dev-packages]
ipython = "*"
awscli = "*"
requests = "*"

[requires]
python_version = "3.7"
